<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title|striptags|upper}Nette Application Skeleton{/block}</title>

	{control css 'bootstrap.min.css',
		'bootstrap-responsive.css',
		'screen.css',
		'print.css',
		'font-awesome.min.css', 
		'font-awesome-ie7.min.css',
		'sandbox.css'}
	{block css}{/block}
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
</head>

<body>
	<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

	{include #content}

	{control js 'jquery-1.9.1.min.js',
		'modernizr.js',
		'nette.js',
		'nette.ajax.js',
		'bootstrap.min.js',
		'main.js',
		'live-form-validation.js' }
	{block js}{/block}
</body>
</html>
